<footer class="footer">
  <div class="container footer-container">
    <source srcset="
          /img/footer/purple-brain.png 1x,
          /img/footer/purple-brain@2x.png 2x" />
    <img class="footer-img" src="/img/footer/purple-brain.png" alt="Puzzle" loading="lazy" />
    <ul class="footer-navigation">
      <li class="footer-link">
        <a href="Privacy & Policy.html">Politica sulla Privacy</a>
      </li>
      <li class="footer-link">
        <a href="Terms & Conditions.html">Termini e Condizioni</a>
      </li>
      <li class="footer-link">
        <a href="Cookies Policy.html">Politica sui cookie
</a>
      </li>

    </ul>

    <p class="footer-text">©2025 explodepuzzle.com, Tutti i diritti riservati</p>
  </div>
</footer>
