<!-- Hero -->
 <section class="hero-section" id="Home">
    <div class="container">
       <h1 class="hero-title">Spezza i Limiti del <span class="hero-span">Tuo Pensiero!</span></h1> 
       <p class="hero-text">Una piattaforma interattiva per sviluppare logica, pensiero critico e creatività.</p>
       <button type="button" class="hero-button">
        <a class="button-link" href="#">Inizia ora</a>
       </button>
    </div>
 </section>
 <!-- Explode Puzzle -->
  <article class="puzzle-section" id="Puzzle">
   <div class="container">
      <h2 class="puzzle-title">Cos'è <span class="puzzle-span">Explode Puzzle?</span></h2>
      <p class="puzzle-text">Explode Puzzle è un ecosistema educativo interattivo che trasforma il modo in cui alleniamo la mente. Attraverso puzzle,
      giochi logici e sfide cognitive, stimola diverse aree del cervello, migliorando le capacità di analisi e problem
      solving. È progettato per studenti, professionisti e appassionati di enigmi che vogliono pensare in modo più critico e
      creativo. Ogni sfida offre un'opportunità di apprendimento concreta, mantenendo alto il livello di coinvolgimento. La
      piattaforma è aggiornata settimanalmente con nuovi contenuti per garantire stimoli continui.
   </p>
   <ul class="puzzle-list">
      <li class="puzzle-item">
         <div class="puzzle-wrapper">
         <img class="puzzle-img" src="/img/brain.png" alt="Brain">
         <h3 class="puzzle-subtitle">Allenamento logico</h3>
      </div>
         <h4 class="puzzle-motivate-title">Esercita la tua mente con logica e intuizione.</h4>
         <p class="puzzle-item-text">Ogni attività logica è pensata per attivare il pensiero sequenziale e deduttivo. Gli utenti affrontano puzzle numerici,
         visuali e verbali che richiedono attenzione e ragionamento strutturato. Questo tipo di esercizi aiuta a migliorare
         l'attenzione ai dettagli e la gestione del tempo. L'allenamento logico costante potenzia le capacità decisionali nella
         vita quotidiana. Ideale per chi desidera rafforzare le proprie abilità analitiche.</p>
      </li>
         <li class="puzzle-item">
            <div class="puzzle-wrapper">
            <img class="puzzle-img" src="/img/brain.png" alt="Brain">
            <h3 class="puzzle-subtitle">Espansione creativa</h3>
         </div>
            <h4 class="puzzle-motivate-title">Stimola idee fuori dagli schemi e pensiero laterale.</h4>
            <p class="puzzle-item-text">Le sfide creative spingono l’utente a trovare soluzioni non convenzionali. Vengono proposte situazioni ambigue con più
            interpretazioni corrette. L’obiettivo non è solo risolvere, ma farlo in modo originale e personale. Questo approccio
            potenzia l'immaginazione e la flessibilità mentale. Utile sia per designer, innovatori, che educatori.</p>
         </li>
            <li class="puzzle-item">
               <div class="puzzle-wrapper">
               <img class="puzzle-img" src="/img/brain.png" alt="Brain">
               <h3 class="puzzle-subtitle">Gioco intelligente</h3>
            </div>
               <h4 class="puzzle-motivate-title">Divertimento e crescita cognitiva in un'unica esperienza.</h4>
               <p class="puzzle-item-text">La componente ludica è essenziale per mantenere alta la motivazione. Ogni livello è pensato come un mini-gioco con sfide
               a tempo, punteggi e ricompense. Il sistema di gamification favorisce l’apprendimento attraverso il gioco. Il giocatore
               non solo si diverte, ma migliora le proprie capacità cognitive. La piattaforma si adatta dinamicamente al livello
               dell’utente.</p>
            </li>
   </ul>
   <span style="display: none;">Generated:28.04.2025, Hash:tth25dv</span>
   </div>
  </article>
  <!-- Formati dei Rompicapo -->
   <section class="formati-section" id="Formati">
      <div class="container formati-container">
         <h2 class="formati-title">Formati dei <span class="formati-span">Rompicapo</span> </h2>
            <ul class="faq-acc">
               <li class="faq-acc-el faq-current">
                  <h3 class="faq-acc-el-title">
                     <button type="button" class="faq-acc-el-trigger">
                        Missioni di fuga
         
                        <span class="faq-acc-arr arr-down">
                        <svg class="faq-img " style="width: 24px; height: 24px;">
                           <use href="/img/sprite.svg#icon-arrow"></use>
                        </svg>
                        </span>
                     </button>
                  </h3>
         
                  <p class="faq-acc-el-descr-frame">
                  Le missioni di fuga sono avventure interattive a tempo dove bisogna risolvere una serie di enigmi logici per “uscire” da
                  una situazione simulata. Ogni scenario è unico e offre un’atmosfera coinvolgente (una biblioteca misteriosa, un
                  laboratorio futuristico, un'antica piramide, ecc.). L'utente deve combinare indizi, analizzare tracce e prendere
                  decisioni in tempo reale. Questo tipo di gioco allena il pensiero critico e la capacità di lavorare sotto pressione.
                  Ideale per allenare la mente in modo dinamico e immersivo.
                  </p>
               </li>
               <li class="faq-acc-el faq-current">
                  <h3 class="faq-acc-el-title">
                     <button type="button" class="faq-acc-el-trigger">
                        Blocchi logici
               
                        <span class="faq-acc-arr arr-down">
                           <svg class="faq-img " style="width: 24px; height: 24px;">
                              <use href="/img/sprite.svg#icon-arrow"></use>
                           </svg>
                        </span>
                     </button>
                  </h3>
               
                  <p class="faq-acc-el-descr-frame">
                     Sfide in cui l’utente deve combinare, ruotare o spostare blocchi per risolvere problemi visivi o numerici. Le attività
                     sono strutturate in gradi crescenti di difficoltà, partendo da semplici operazioni fino a schemi complessi. Questo
                     formato stimola l’intelligenza spaziale e la capacità di visualizzare soluzioni. È ottimo anche per chi vuole migliorare
                     l’intuito geometrico. Un’ottima palestra per la mente analitica e visuale.
                  </p>
               </li>
               <li class="faq-acc-el faq-current">
                  <h3 class="faq-acc-el-title">
                     <button type="button" class="faq-acc-el-trigger">
                        Sfide creative
               
                        <span class="faq-acc-arr arr-down">
                           <svg class="faq-img " style="width: 24px; height: 24px;">
                              <use href="/img/sprite.svg#icon-arrow"></use>
                           </svg>
                        </span>
                     </button>
                  </h3>
               
                  <p class="faq-acc-el-descr-frame">
               Proposte aperte dove non esiste una sola risposta esatta. Gli utenti devono trovare soluzioni ingegnose a problemi
               bizzarri o scenari irreali. Il focus è sul ragionamento divergente, ovvero la capacità di produrre molte soluzioni
               diverse. Ogni sfida è accompagnata da un feedback personalizzato per stimolare l’autovalutazione. L’obiettivo è
               sbloccare nuove prospettive mentali e migliorare la fluidità creativa.
                  </p>
               </li>
               <li class="faq-acc-el faq-current">
                  <h3 class="faq-acc-el-title">
                     <button type="button" class="faq-acc-el-trigger">
                        Illusioni matematiche
               
                        <span class="faq-acc-arr arr-down">
                           <svg class="faq-img " style="width: 24px; height: 24px;">
                              <use href="/img/sprite.svg#icon-arrow"></use>
                           </svg>
                        </span>
                     </button>
                  </h3>
               
                  <p class="faq-acc-el-descr-frame">
         Giochi che sfidano la percezione e il ragionamento numerico. Attraverso trappole logiche e illusioni visive, gli utenti
         devono scoprire l’inganno matematico. Si tratta di esperienze che rafforzano la comprensione dei concetti fondamentali
         (simmetrie, proporzioni, sequenze). Perfetto per studenti e appassionati di matematica. Rende i numeri più affascinanti
         e meno intimidatori.
                  </p>
               </li>
               <li class="faq-acc-el faq-current">
                  <h3 class="faq-acc-el-title">
                     <button type="button" class="faq-acc-el-trigger">
                        Laboratori di idee
               
                        <span class="faq-acc-arr arr-down">
                           <svg class="faq-img " style="width: 24px; height: 24px;">
                              <use href="/img/sprite.svg#icon-arrow"></use>
                           </svg>
                        </span>
                     </button>
                  </h3>
               
                  <p class="faq-acc-el-descr-frame">
               Spazi virtuali collaborativi dove i partecipanti risolvono problemi insieme. Ideale per team building, scuole o gruppi.
               Ogni laboratorio ha un obiettivo (es. creare un codice segreto, progettare una macchina logica, ecc.) e premia l’ingegno
               collettivo. I partecipanti imparano a comunicare, confrontare soluzioni e creare strategie. Allenamento ideale per
               leadership e soft skills.
                  </p>
               </li>
            </ul>
            <picture class="picture">
               <source srcset="
                  /img/formati/img-desk.png    1x,
                  /img/formati/img-desk@2x.png  2x
                          " media="(min-width: 1439px)" />
               <source srcset="
                           /img/formati/img-mob.png   1x,
                           /img/formati/img-mob@2x.png  2x
                          " media="(max-width: 1438px)" />
               <img class="formati-img" src="/img/formati/img-mob.png " alt="Box" loading="lazy" />
            </picture>
      </div>
   </section>
   <!-- Esperienze Reali -->
    <section class="esperienze-section" id="Esperienze">
      <div class="container esperienze-container">
         <h2 class="esperienze-title">Esperienze <span class="esperienze-span">Reali</span> </h2>
         <div class="esperienze-swiper-container">
               <div class="swiper esperienze-swiper">
            <ul class="swiper-wrapper esperienze-swiper-wrapper">
               <li class="swiper-slide esperienze-swiper-slide">
                  <p class="author-text">Marco L.</p>
                  <p class="swiper-text">"Ho scoperto Explode Puzzle grazie a un collega, e da quel giorno è diventato il mio rituale quotidiano. Ogni rompicapo
                  è stimolante, mai banale, e mi costringe a pensare in modi sempre nuovi. È come una palestra mentale, ma molto più
                  divertente. Mi piace come il sito riesca a unire logica e creatività in un’unica esperienza. Alcuni esercizi sembrano
                  quasi giochi, ma in realtà allenano davvero la mente. Anche graficamente è rilassante e moderno. Consigliato a chiunque
                  voglia tenere il cervello in forma senza annoiarsi."</p>
               </li>
               <li class="swiper-slide esperienze-swiper-slide">
                  <p class="author-text">Chiara R.</p>
                  <p class="swiper-text">"Utilizziamo Explode Puzzle in famiglia la sera, prima di cena, ed è diventato un momento di condivisione bellissimo.
                  Mio figlio adora le sfide visive, mentre io e mio marito ci lanciamo in quelle logiche. È incredibile come riesca a
                  coinvolgere tutte le età. Abbiamo notato che nostro figlio è più attento e riflessivo anche a scuola. Anche mia madre,
                  che ha 67 anni, lo usa ogni tanto e si diverte moltissimo. È uno strumento che unisce apprendimento e divertimento. Non
                  pensavo che un sito potesse avere un impatto così positivo sul nostro tempo insieme."</p>
               </li>
               <li class="swiper-slide esperienze-swiper-slide">
                  <p class="author-text">Davide P.</p>
                  <p class="swiper-text">"Sono un freelance e uso Explode Puzzle durante le pause tra un progetto e l’altro. Mi aiuta a ricaricare la mente e
                  ritrovare la concentrazione. Le sfide a tempo sono le mie preferite: brevi ma intense. Trovo che le mie capacità di
                  ragionamento siano migliorate visibilmente. Anche la memoria e la capacità di trovare soluzioni alternative sono
                  aumentate. La piattaforma è intuitiva e ben fatta, mi piace anche la possibilità di monitorare i progressi. Non è solo
                  un passatempo: è un vero strumento di crescita."</p>
               </li>
               <li class="swiper-slide esperienze-swiper-slide">
                  <p class="author-text">Giulia C.</p>
                  <p class="swiper-text">"Come insegnante, ho iniziato a usare Explode Puzzle in classe una volta alla settimana. Gli studenti lo adorano, anche
                  i più timidi partecipano con entusiasmo. Ho notato miglioramenti nella logica e nella capacità di collaborazione tra
                  loro. Alcuni di loro hanno persino iniziato a usarlo a casa con i genitori. È uno strumento didattico straordinario,
                  semplice ma estremamente efficace. Inoltre, il fatto che sia accessibile anche da smartphone è un grande vantaggio. La
                  didattica può davvero essere divertente, se supportata da strumenti come questo."
</p>
               </li>
               <li class="swiper-slide esperienze-swiper-slide">
                  <p class="author-text">Lorenzo M.</p>
                  <p class="swiper-text">"All’inizio pensavo fosse il solito sito di rompicapo, ma mi sono dovuto ricredere. Ogni sezione è ben studiata e offre
                  sfide sempre nuove e stimolanti. Il sistema di progressi e statistiche personali è davvero motivante. Sento di pensare
                  più velocemente e con più flessibilità, anche nel mio lavoro da sviluppatore. Uso Explode Puzzle anche come esercizio
                  mattutino per 'risvegliare' il cervello. È diventata una sana abitudine. Lo consiglio a tutti quelli che vogliono
                  migliorare se stessi in modo intelligente e divertente."</p>
               </li>
               <li class="swiper-slide esperienze-swiper-slide">
                  <p class="author-text">Martina V.</p>
                  <p class="swiper-text">"Le sfide creative sono ciò che preferisco. Mi aiutano a vedere le cose da una prospettiva diversa, stimolando anche la
                  mia parte più artistica. Come graphic designer, mi sono accorta di avere più idee e più velocità nell'affrontare i brief
                  dopo aver risolto alcuni esercizi. Anche le sfide logiche hanno il loro fascino: sono come piccoli rebus mentali.
                  L’interfaccia è pulita, piacevole e funziona benissimo anche da telefono. Mi piace molto la community e l'idea che
                  dietro ci sia un progetto pensato davvero bene. È più di un gioco: è un modo per scoprire nuove potenzialità di sé."</p>
               </li>
               <li class="swiper-slide esperienze-swiper-slide">
                  <p class="author-text">Federico Z.</p>
                  <p class="swiper-text">"Explode Puzzle è diventato parte della mia routine mattutina. Appena sveglio, risolvo un paio di sfide per attivare la
                  mente prima di iniziare a lavorare. Ho notato che sono più lucido e reattivo durante il giorno. Le sfide sono varie, mai
                  ripetitive, e davvero ben progettate. Amo la sensazione di superare i miei limiti e vedere i progressi settimanali. Il
                  sito è ben ottimizzato e mi piace che venga aggiornato spesso. È una di quelle rare piattaforme che mantengono le
                  promesse: divertente, utile e stimolante."</p>
               </li>
               <li class="swiper-slide esperienze-swiper-slide">
                  <p class="author-text">Elisa F.</p>
                  <p class="swiper-text">"Sono sempre stata appassionata di enigmi, ma Explode Puzzle ha portato la mia passione a un livello superiore. Non solo
                  mi diverto, ma sento anche che sto imparando qualcosa ogni giorno. Ogni puzzle ha una logica sottile che mi spinge a
                  riflettere a fondo. Uso spesso la piattaforma con le mie amiche nei momenti di relax e ci sfidiamo tra noi. Le
                  classifiche sono un’ottima motivazione in più. Mi piace anche che ci siano contenuti nuovi ogni settimana. È una
                  piattaforma che unisce il gioco con lo sviluppo personale."</p>
               </li>
            </ul>
         </div>
            <div class="custom-navigation esperienze-nav">
               <button class="custom-arrow custom-prev" aria-label="Previous slide">
                  <svg class="esperianze-img" style="width: 24px; height: 24px;">
                     <use href="/img/sprite.svg#icon-arrow"></use>
                  </svg>
               </button>
            
               <button class="custom-arrow custom-next" aria-label="Next slide">
                  <svg class="esperianze-img" style="width: 24px; height: 24px;">
                     <use href="/img/sprite.svg#icon-arrow"></use>
                  </svg>
               </button>
            </div>
         </div>
      <source srcset="
      /img/esperienze/esperienze.png 1x,
      /img/esperienze/esperienze@2x.png 2x" />
      <img class="esperienze-img" src="/img/esperienze/esperienze.png" alt="Puzzle" loading="lazy" />
      </div>
    </section>
    <!-- Chi Siamo -->
     <section class="siamo-section" id="Chi">
      <div class="container">
         <h2 class="siamo-title">Chi <span class="siamo-span">Siamo</span></h2>
         <p class="siamo-text">Siamo un team internazionale di educatori, sviluppatori e designer appassionati di apprendimento esperienziale. Il
         nostro obiettivo è rendere l'allenamento mentale accessibile, divertente ed efficace. Ogni sfida sulla piattaforma è il
         risultato di studio, test e amore per l’innovazione didattica. Lavoriamo in collaborazione con psicologi cognitivi e
         game designer per costruire esperienze che stimolano davvero il cervello. La nostra filosofia è semplice: imparare non
         deve essere noioso. Per questo, ogni giorno costruiamo un ponte tra il gioco e l’evoluzione personale.</p>
         <picture class="picture">
            <source srcset="
                           /img/siamo/siamo-desk.png  1x,
                           /img/siamo/siamo-desk@2x.png  2x
                                   " media="(min-width: 1439px)" />
            <source srcset="
                                    /img/siamo/siamo-mob.png   1x,
                                    /img/siamo/siamo-mob@2x.png  2x
                                   " media="(max-width: 1438px)" />
            <img class="siamo-img" src="/img/siamo/siamo-mob.png" alt="Puzzle" loading="lazy" />
         </picture>
      </div>
     </section>
     <!-- Domande Frequenti -->
      <section class="frequenti-section" id="Domande">
         <div class="container">
            <h2 class="frequenti-title"><span class="frequenti-span">Domande </span>Frequenti</h2>
            <ul class="faq-acc">
               <li class="faq-acc-el faq-current">
                  <h3 class="faq-acc-el-title">
                     <button type="button" class="faq-acc-el-trigger frequenti-triger">
                     Cos'è Explode Puzzle e a chi si rivolge?
            
                        <span class="faq-acc-arr arr-down">
                           <svg class="faq-img " style="width: 24px; height: 24px;">
                              <use href="/img/sprite.svg#icon-arrow"></use>
                           </svg>
                        </span>
                     </button>
                  </h3>
            
                  <p class="faq-acc-el-descr-frame text-frame">
                  Explode Puzzle è una piattaforma online progettata per stimolare il pensiero logico, la creatività e la capacità di
                  risolvere problemi attraverso una vasta gamma di enigmi e sfide mentali. È pensato per persone di tutte le età che
                  vogliono allenare la mente in modo divertente e coinvolgente. Che tu sia uno studente, un professionista, un genitore o
                  semplicemente curioso, troverai esercizi adatti al tuo livello. L’obiettivo è offrire un ambiente in cui l’apprendimento
                  sia piacevole e motivante. La varietà dei contenuti consente a ciascuno di scegliere il proprio percorso. Il design
                  semplice rende l’esperienza accessibile anche ai meno esperti. È perfetto anche per chi cerca una pausa intelligente
                  durante la giornata.
                  </p>
               </li>
               <li class="faq-acc-el faq-current">
                  <h3 class="faq-acc-el-title">
                     <button type="button" class="faq-acc-el-trigger frequenti-triger">
                        È necessario registrarsi per utilizzare il sito?
               
                        <span class="faq-acc-arr arr-down">
                           <svg class="faq-img " style="width: 24px; height: 24px;">
                              <use href="/img/sprite.svg#icon-arrow"></use>
                           </svg>
                        </span>
                     </button>
                  </h3>
               
                  <p class="faq-acc-el-descr-frame text-frame">
                  Non è obbligatorio registrarsi per provare alcuni contenuti di base. Tuttavia, la registrazione gratuita permette di
                  accedere a funzionalità aggiuntive come il monitoraggio dei progressi, le classifiche, e le sfide giornaliere.
                  Registrandosi, l’utente può salvare i propri risultati e riprendere da dove aveva lasciato. Inoltre, è possibile
                  personalizzare il proprio profilo e scegliere i tipi di rompicapo preferiti. Il processo di registrazione è semplice e
                  rapido. Non richiediamo alcun dato sensibile oltre all’indirizzo email. In pochi click, sei già pronto per iniziare
                  l’avventura.
                  </p>
               </li>
               <li class="faq-acc-el faq-current">
                        <h3 class="faq-acc-el-title">
                           <button type="button" class="faq-acc-el-trigger frequenti-triger">
                              Quanto costa usare Explode Puzzle?
                     
                              <span class="faq-acc-arr arr-down">
                                 <svg class="faq-img " style="width: 24px; height: 24px;">
                                    <use href="/img/sprite.svg#icon-arrow"></use>
                                 </svg>
                              </span>
                           </button>
                        </h3>
                     
                        <p class="faq-acc-el-descr-frame text-frame">
                     Explode Puzzle offre una versione base completamente gratuita, accessibile a tutti. Esistono però anche piani premium
                     con contenuti esclusivi, sfide avanzate, e funzionalità extra come la modalità notturna o la possibilità di creare
                     playlist personalizzate di rompicapo. I costi sono contenuti e pensati per essere accessibili. È possibile sottoscrivere
                     un abbonamento mensile o annuale, con sconti per studenti e famiglie. Prima di acquistare, è sempre disponibile un
                     periodo di prova gratuito. Il modello è trasparente: nessun costo nascosto, nessuna pubblicità invasiva. L’obiettivo è
                     rendere l’allenamento mentale un'abitudine accessibile a tutti.
                        </p>
               </li>
               <li class="faq-acc-el faq-current">
                  <h3 class="faq-acc-el-title">
                     <button type="button" class="faq-acc-el-trigger frequenti-triger">
                        Che tipo di rompicapo posso trovare sulla piattaforma?
               
                        <span class="faq-acc-arr arr-down">
                           <svg class="faq-img " style="width: 24px; height: 24px;">
                              <use href="/img/sprite.svg#icon-arrow"></use>
                           </svg>
                        </span>
                     </button>
                  </h3>
               
                  <p class="faq-acc-el-descr-frame text-frame">
               Troverai rompicapo logici, visuali, matematici, indovinelli, sfide di attenzione, giochi di parole e molto altro. Ogni
               tipologia è studiata per attivare diverse aree del cervello. Alcuni esercizi sono a tempo, altri richiedono riflessione
               profonda. Ogni sezione è accompagnata da suggerimenti e spiegazioni, per aiutare anche i principianti. Il sistema
               propone automaticamente nuovi tipi di sfide in base alle tue preferenze e al tuo livello. Inoltre, vengono aggiunti
               nuovi contenuti ogni settimana. La varietà è una delle caratteristiche più apprezzate dagli utenti.
                  </p>
               </li>
               <li class="faq-acc-el faq-current">
                  <h3 class="faq-acc-el-title">
                     <button type="button" class="faq-acc-el-trigger frequenti-triger">
                        Posso usare Explode Puzzle da smartphone o tablet?
               
                        <span class="faq-acc-arr arr-down">
                           <svg class="faq-img " style="width: 24px; height: 24px;">
                              <use href="/img/sprite.svg#icon-arrow"></use>
                           </svg>
                        </span>
                     </button>
                  </h3>
               
                  <p class="faq-acc-el-descr-frame text-frame">
               Sì, la piattaforma è completamente responsive e ottimizzata per dispositivi mobili. Puoi usarla da smartphone, tablet o
               desktop senza perdere funzionalità. L’interfaccia si adatta automaticamente alla dimensione dello schermo per offrire
               sempre la migliore esperienza. Che tu sia sul divano, in treno o in pausa al lavoro, puoi allenarti ovunque. Anche i
               giochi visivi e interattivi sono stati progettati per funzionare perfettamente su touch screen. Inoltre, stiamo
               sviluppando un'app nativa per Android e iOS. L'accessibilità è una nostra priorità.
                  </p>
               </li>
               <li class="faq-acc-el faq-current">
                   <h3 class="faq-acc-el-title">
                           <button type="button" class="faq-acc-el-trigger frequenti-triger">
                           I contenuti vengono aggiornati regolarmente?
                              <span class="faq-acc-arr arr-down">
                                 <svg class="faq-img " style="width: 24px; height: 24px;">
                                    <use href="/img/sprite.svg#icon-arrow"></use>
                                 </svg>
                              </span>
                           </button>
                        </h3>
                     
                        <p class="faq-acc-el-descr-frame text-frame">
                     Assolutamente sì. Ogni settimana vengono aggiunti nuovi rompicapo e aggiornati quelli esistenti. Lavoriamo costantemente
                     con un team di creativi e formatori per offrire contenuti sempre freschi e stimolanti. Ogni mese introduciamo anche
                     nuove categorie o mini-giochi tematici. Gli utenti registrati ricevono notifiche personalizzate sui nuovi contenuti.
                     Inoltre, accogliamo volentieri suggerimenti e idee dalla community. Questo rende Explode Puzzle una piattaforma dinamica
                     e in continua evoluzione. Non ci si annoia mai!
                        </p>
                </li>
               <li class="faq-acc-el faq-current">
                     <h3 class="faq-acc-el-title">
                        <button type="button" class="faq-acc-el-trigger frequenti-triger">
                           Esistono livelli di difficoltà?
                           <span class="faq-acc-arr arr-down">
                              <svg class="faq-img " style="width: 24px; height: 24px;">
                                 <use href="/img/sprite.svg#icon-arrow"></use>
                              </svg>
                           </span>
                        </button>
                     </h3>
                  
                     <p class="faq-acc-el-descr-frame text-frame">
                     Sì, ogni sfida è classificata in base al livello: facile, medio, difficile ed esperto. All'inizio, puoi scegliere da
                     quale livello partire, oppure affidarti al sistema adattivo che propone automaticamente rompicapo su misura. Man mano
                     che risolvi le sfide, il tuo livello si aggiorna e sblocchi nuovi contenuti. Questo sistema ti permette di avanzare
                     gradualmente, senza frustrazioni. È perfetto sia per principianti che per esperti. Inoltre, ogni esercizio include una
                     breve spiegazione della logica dietro alla soluzione. L’apprendimento è continuo e consapevole.
                     </p>
               </li>
               <li class="faq-acc-el faq-current">
                  <h3 class="faq-acc-el-title">
                     <button type="button" class="faq-acc-el-trigger frequenti-triger">
                        Explode Puzzle è adatto anche ai bambini?
                        <span class="faq-acc-arr arr-down">
                           <svg class="faq-img " style="width: 24px; height: 24px;">
                              <use href="/img/sprite.svg#icon-arrow"></use>
                           </svg>
                        </span>
                     </button>
                  </h3>
               
                  <p class="faq-acc-el-descr-frame text-frame">
            Sì, esiste una sezione specifica pensata per i più piccoli, con rompicapo colorati, semplici e divertenti. I contenuti
            sono stati sviluppati con l’aiuto di pedagogisti e insegnanti. L’obiettivo è stimolare il pensiero logico e l’attenzione
            fin da piccoli, attraverso il gioco. I genitori possono monitorare i progressi dei figli tramite un account condiviso.
            Inoltre, tutte le attività per bambini sono prive di pubblicità e progettate per essere sicure e rispettose. È un ottimo
            strumento per imparare divertendosi, anche in famiglia.
                  </p>
               </li>
            <li class="faq-acc-el faq-current">
                     <h3 class="faq-acc-el-title">
                        <button type="button" class="faq-acc-el-trigger frequenti-triger">
                           È possibile usare Explode Puzzle in ambito scolastico?
                           <span class="faq-acc-arr arr-down">
                              <svg class="faq-img " style="width: 24px; height: 24px;">
                                 <use href="/img/sprite.svg#icon-arrow"></use>
                              </svg>
                           </span>
                        </button>
                     </h3>
                  
                     <p class="faq-acc-el-descr-frame text-frame">
               Certamente. Molti insegnanti usano Explode Puzzle come strumento didattico nelle loro classi. Le attività possono essere
               integrate nelle lezioni di logica, matematica o educazione civica. Offriamo anche materiali stampabili e suggerimenti
               per esercitazioni collettive. Gli studenti partecipano con entusiasmo e migliorano la capacità di pensiero critico.
               Abbiamo piani specifici per scuole e istituzioni educative, con accessi multipli e gestione centralizzata. Collaboriamo
               volentieri con educatori e formatori per migliorare continuamente l’esperienza educativa.
                     </p>
             </li>
            <li class="faq-acc-el faq-current">
               <h3 class="faq-acc-el-title">
                  <button type="button" class="faq-acc-el-trigger frequenti-triger">
                     È richiesta una connessione internet per giocare?
                     <span class="faq-acc-arr arr-down">
                        <svg class="faq-img " style="width: 24px; height: 24px;">
                           <use href="/img/sprite.svg#icon-arrow"></use>
                        </svg>
                     </span>
                  </button>
               </h3>
            
               <p class="faq-acc-el-descr-frame text-frame">
   Attualmente sì, ma stiamo lavorando per introdurre una modalità offline. La maggior parte delle attività si svolge
   online perché il sistema adatta dinamicamente i contenuti. Tuttavia, a breve saranno disponibili anche pacchetti
   scaricabili per l’utilizzo senza rete. Questo sarà utile per viaggi, contesti scolastici o semplicemente per evitare
   distrazioni. La modalità offline includerà una selezione dei rompicapo più apprezzati. Anche in assenza di internet,
   potrai mantenere il tuo allenamento mentale.
               </p>
            </li>
               <li class="faq-acc-el faq-current">
                  <h3 class="faq-acc-el-title">
                     <button type="button" class="faq-acc-el-trigger frequenti-triger">
                        È disponibile in più lingue?
                        <span class="faq-acc-arr arr-down">
                           <svg class="faq-img " style="width: 24px; height: 24px;">
                              <use href="/img/sprite.svg#icon-arrow"></use>
                           </svg>
                        </span>
                     </button>
                  </h3>
               
                  <p class="faq-acc-el-descr-frame text-frame">
               Al momento Explode Puzzle è disponibile in italiano, ma stiamo lavorando alle versioni in inglese, spagnolo, francese e
               tedesco. L’obiettivo è raggiungere una community sempre più internazionale. Ogni versione sarà curata da madrelingua per
               garantire qualità e coerenza culturale. Gli utenti potranno scegliere la lingua preferita direttamente dalle
               impostazioni. Anche i rompicapo saranno adattati in modo da mantenere logica e divertimento nella traduzione. La
               localizzazione è una priorità per l’anno in corso.
                  </p>
               </li>
               <li class="faq-acc-el faq-current">
                        <h3 class="faq-acc-el-title">
                           <button type="button" class="faq-acc-el-trigger frequenti-triger">
                           Come posso contattare il supporto?
                              <span class="faq-acc-arr arr-down">
                                 <svg class="faq-img " style="width: 24px; height: 24px;">
                                    <use href="/img/sprite.svg#icon-arrow"></use>
                                 </svg>
                              </span>
                           </button>
                        </h3>
                     
                        <p class="faq-acc-el-descr-frame text-frame">
               Puoi scriverci in qualsiasi momento all’indirizzo email supporto@explodepuzzle.com. Il nostro team risponde entro 24 ore
               nei giorni feriali. Offriamo anche assistenza tramite chat dal vivo nei momenti di maggiore affluenza. Se hai problemi
               tecnici, dubbi o suggerimenti, siamo felici di aiutarti. Valutiamo ogni feedback per migliorare costantemente la
               piattaforma. Ci piace pensare a Explode Puzzle come una community, non solo un sito. Il dialogo con gli utenti è uno dei
               nostri punti di forza.
                        </p>
               </li>
               <li class="faq-acc-el faq-current">
                  <h3 class="faq-acc-el-title">
                     <button type="button" class="faq-acc-el-trigger frequenti-triger">
                     Come posso contribuire o collaborare con Explode Puzzle?
                        <span class="faq-acc-arr arr-down">
                           <svg class="faq-img " style="width: 24px; height: 24px;">
                              <use href="/img/sprite.svg#icon-arrow"></use>
                           </svg>
                        </span>
                     </button>
                  </h3>
               
                  <p class="faq-acc-el-descr-frame text-frame">
         Siamo sempre aperti a nuove collaborazioni! Se sei un creatore di rompicapo, un illustratore, un insegnante o
         semplicemente un appassionato, puoi proporre i tuoi contenuti o idee. Puoi inviare una candidatura tramite il form nella
         sezione “Collabora con noi” o scriverci direttamente via email. Offriamo anche programmi di affiliazione e partnership
         per scuole, educatori e influencer. Crediamo nel valore della condivisione e della costruzione collettiva del sapere.
         Ogni contributo viene valutato con cura e, se approvato, viene integrato nella piattaforma con riconoscimento pubblico.
         Entra a far parte della nostra missione per rendere il pensiero logico accessibile a tutti!
                  </p>
               </li>
         </div>
      </section>
      <!-- Contatti -->
       <section class="contatti-section" id="Contatti">
         <div class="container">
            <h2 class="contatti-title">Contatti</h2>
            <p class="contatti-text">Hai una domanda o hai bisogno di assistenza?</p>
            <p class="email-text"><a class="email-link" href="mailto:info@explodepuzzle.com">info@explodepuzzle.com <br/>
</a>Assistenza globale disponibile 24/7</p>
<picture class="picture">
   <source srcset="
                           /img/contatti/contatti-desk.png  1x,
                           /img/contatti/contatti-desk@2x.png  2x
                                   " media="(min-width: 1439px)" />
   <source srcset="
                                   /img/contatti/contatti-mob.png   1x,
                                    /img/contatti/contatti-mob@2x.png  2x
                                   " media="(max-width: 1438px)" />
   <img class="contatti-img" src="/img/contatti/contatti-mob.png" alt="Puzzle" loading="lazy" />
</picture>
         </div>
       </section>