@import url('./reset.css');
@import url('./base.css');
@import url('./footer.css');
@import url('./header.css');
@import url('./container.css');

.cookies-container{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.cookies-title{
  font-family: "Inter", sans-serif;
      font-weight: 500;
      font-size: 36px;
      line-height: 1.2;
      letter-spacing: -0.03em;
      color: #9e54d7;
      margin-bottom: 0;
}
.cookies-text{
  font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      color: #3c234f;
}
.cookies-subtitle{
  font-weight: 500;
      font-size: 22px;
      line-height: 1.3;
      letter-spacing: -0.02em;
}
.cookies-rules-title{
  font-weight: 500;
  font-size: 18px;
}
.link-underline{
  text-decoration: underline;
}
@media only screen and (min-width:1439px) {
  .cookies-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .cookies-title{
    font-size: 48px;
    line-height: 120%;
    color: #3c234f;
}
.cookies-text{
      font-size: 18px;
      line-height: 1.5;
      color: #3c234f;
}
.cookies-subtitle{
      font-size: 26px;
}
.cookies-ryles-title{
      font-size: 20px;
}
}