@import url('./reset.css');
@import url('./base.css');
@import url('./footer.css');
@import url('./header.css');
@import url('./container.css');

.terms-container{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.privacy-title{
    font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: -0.03em;
        color: #9e54d7;
        margin-bottom: 0;
}
.privacy-text{
    font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #3c234f;
}
.privacy-subtitle{
    font-weight: 500;
        font-size: 22px;
        line-height: 1.3;
        letter-spacing: -0.02em;
}
.privacy-ryles-title{
    font-weight: 500;
        font-size: 18px;
}
.link-underline{
    text-decoration: underline;
}
.strong-title{
  font-weight: 500;
font-size: 18px;
}
@media only screen and (min-width:1439px) {
  .privacy-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .privacy-title{
    font-size: 48px;
    line-height: 120%;
    color: #3c234f;
}
.privacy-text{
      font-size: 18px;
      line-height: 1.5;
      color: #3c234f;
}
.privacy-subtitle{
      font-size: 26px;
}
.privacy-ryles-title{
      font-size: 20px;
}
.strong-title{
font-size: 20px;
}
}
